<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить студента</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header}"></div>

<div class="container mt-3">
    <div class="card text-center">
        <div class="card-header"><h4>Изменить студента</h4></div>
        <div class="card-body text-left">
            <form th:action="@{'/students/' + ${student.getId()}}" th:method="PUT" class="form__data" id="update">
            </form>
            <div class="row">
                <div class="col">
                    <label>Имя</label>
                    <input th:name="name" type="text" class="form-control" form="update" th:value="${student.getName()}">
                </div>
                <div class="col">
                    <label>Почта</label>
                    <input class="form-control" th:name="email" type="text" form="update" th:value="${student.getEmail()}">
                </div>
                <div class="col">
                    <label>Телефон</label>
                    <input class="form-control" th:name="phone" type="text" form="update" th:value="${student.getPhone()}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary btn-block" type="submit" form="update">Сохранить</button>
                </div>
                <div class="col">
                    <a class="btn btn-block btn-danger" href="..">Отменить</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>