<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Изменить студента</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src=" https://code.jquery.com/jquery-1.11.2.js "></script>
</head>
<body>
<div th:insert="~{header}"></div>

<div class="container mt-3">
    <div class="card text-center">
        <div class="card-header"><h4>Изменить студента</h4></div>
        <div class="card-body text-left">
            <form th:action="@{'/students/' + ${student.getId()}}" th:method="PUT" class="form__data" id="update">
            </form>
            <div class="row">
                <div class="col">
                    <label>Имя</label>
                    <input th:name="name" type="text" class="form-control" form="update" th:value="${student.getName()}">
                </div>
                <div class="col">
                    <label>Почта</label>
                    <input class="form-control" th:name="email" type="text" form="update" th:value="${student.getEmail()}">
                </div>
                <div class="col">
                    <label>Телефон</label>
                    <input class="form-control" th:name="phone" type="text" form="update" th:value="${student.getPhone()}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <button class="btn btn-primary btn-block" type="submit" form="update">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>